* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}

body {
	background-color: rgb(250, 218, 221);
}

h1 {
	margin: 7% 35%;
	text-align: center;
}

div {
	border: 1px solid black;
	float: left;
	width: 30%;
	height: 25vh;
	margin: 3vh 1.5vw;
	padding: 2vh 1vw;
	overflow: hidden;
	background-color: turquoise;
	position: relative;
	border-radius: 1%;
}

h2 {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	padding: 0 2vw;
	color: white;
}

p {
	padding: 3vh 1vw;
}

.idea {
	background-color: rgb(115,238,238);
}

.exec {
	background-color: darkturquoise;
}

.review {
	background-color: teal;
}

	/*mobile*/
@media (max-width: 767px) {
	div {
		border: 1px solid black;
		width: 90%;
		height: 28vh;
		margin: 1vh 5vw;
		padding: 1vh 1vw;
		font-size: 1.3em;
	}

	p {
	padding: 5.5vh 2vw;
	font-size: 2.4vw;
	}

	h1 {
		margin: 1vh;
		text-align: center;
	}
	h2 {
		font-size: 4vw;
	}
}

@media (max-width: 475px) {
	p {
		font-size: 3vw;
	}
	h2 {
		font-size: 6vw;
	}
}

	/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {

	.div_one, .div_two, .div_three {
		border: 1px solid black;
		width: 44%;
		height: 28vh;
		margin: 0 5%;
		padding: 1vh 1vw;
	}
	.div_one {
		width: 44%;
		height: 30vh;
		margin: 0 5%;
	}

	.div_two {
		width: 44%;
		height: 30vh;
		margin: 0 -3%;
	}

	.div_three {
		
		float: left;
		width: 90%;
		height: 25vh;
		margin: 2% 5%;
		padding: 4vh 1vw;
	}

	p {
		padding: 5vh 2vw;
		font-size: 1.5vw;
	}
}
		/*desktop*/
@media (min-width: 992px) {
	div {
		border: 1px solid black;
		float: left;
		width: 30%;
		height: 30vh;
		margin: 1vh 1.5vw;
		padding: 2vh 1vw;
		overflow: hidden;
		background-color: turquoise;
		position: relative;
		border-radius: 1%;
	}

	p {
	padding: 5vh 1vw;
	font-size: 1.1vw;
	}
}	














